html {
    font-family:
        "Helvetica", "Arial", sans-serif;
}

body {
    margin: 0px;
}

a {
    color: #000000;
}

a:visited {
    color: #000000;
}

.header-image {
    height: 28px;
    max-width: 100%;
    object-fit: cover;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.header-links {
}
.header-link {
    padding-right: 5px;
}

.width {
    max-width: 730px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

.title {
    font-size: 32px;
    line-height: 58px;
}

.work-item {
    margin-top: 32px;
    margin-bottom: 16px;
}
.work-item-title {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}
.work-item-time {
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 8px;
}
.work-item-content {
    margin-top: 8px;
    margin-bottom: 8px;
}
.work-item-list {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 24px;
}
.work-item-list-item {
}
